:root{
	--distance:-4px;
}
body,button,input[type="text"] {
	font:normal 14px/1.4 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";;
}
body {
	padding: 0;
	margin:0;
	background-color:#f5f5f5;
}
button {
	width: 100%;
	line-height:30px;
	border:1px solid #ddd;
	background-color: #eee;
}

/* ==========================================================================
WELCOME SCREEN
========================================================================== */
	#welcome {
		display: flex;
		flex-direction: column;
		height: 100vh;
		width: 100vw;
		align-items: center;
		justify-content: center;
		color:#444;
	}
	#welcome section {
		box-sizing: border-box;
		border-radius: .5em;
		padding: 1.5em;
		flex-basis: auto;
		height: auto;
		text-align: center;
		margin: 0 20px;
		max-width: 640px;
		background-color: #fff;
		box-shadow: 0 0 10px rgba(0,0,0,.3);
	}
	#welcome h1 {
		margin: 0;
	}
	#welcome p{
		margin: 1em 0 0;
	}
	#welcome a {
		color: inherit;
		font-weight: 500;
		text-decoration: none;
		transition: color .3s;
	}
	#welcome a:hover{
		color: firebrick;
	}
	#welcome small {
		color:#777;
	}
	#welcome small span {
		font-family: 'OperatorMonoSSm-Light',Menlo,Consolas, monospace;
	}
	#sig {
		text-align: center;
	}
	#sig i {
		font-size: 1.2em;
		line-height: 2;
	}

/* ==========================================================================
SUBSCRIPTIONS
========================================================================== */
	#subscriptions {
		padding:20px;
	}
	#subscriptions table[class^=cfdump]{
		font-family: 'OperatorMonoSSm-Book',Menlo,Consolas, monospace;
	}
	#subscriptions section {
		box-sizing: border-box;
		border-radius: .5em;
		padding: 1.5em;
		flex-basis: auto;
		min-height: calc(100vh - 40px);
		margin: 0;
		background-color: #fff;
		box-shadow: 0 0 10px rgba(0,0,0,.3);
	}
	#subscriptions section h1 {
		margin-top: 0;
	}
/* ==========================================================================
FORM
========================================================================== */
	form {
		background-color: #fff;
		padding: 1em;
		margin:20px;
		box-shadow: 0 0 8px rgba(0,0,0,.5);
	}
	input[type="text"]{
		display: block;
		width: 100%;
		margin-bottom: 10px;
		padding: .5em;
		text-align: center;
		box-sizing: border-box;
		border:1px solid #ddd;
		border-radius: 0;
		box-shadow: inset 1px 1px 2px #aaa;
	}
	input::placeholder{
		color: #999;
	}
	label {
		display: block;
		margin-bottom: 5px;
	}
	#waiting {
		text-align: center;
	}
	.help {
		text-align: center;
		font-size: .9em;
		display: block;
		margin:-5px 0 10px;
		color: #999;
	}

/* ==========================================================================
GAME
========================================================================== */
	#game-info {
		display: flex;
		justify-content: space-between;
		padding:0 1em;
		background-color: #9e9e9e;
		transition: all .3s;
		height: 2.8em;
		align-items: center;
		font-size: 1.4em;
		font-weight: 500;
	}
	#game-info.my-turn,
	#game-info.winner {
		background-color: #4caf50;
		color:#fff;
	}
	#game-info.looser {
		background-color: #d8000e;
		color:#fff;
	}
	#board,
	#game {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	#board{
		padding: 20px;
		max-width: 620px;
		margin:20px auto 0;
	}
	section {
		flex-basis: 60%;
	}
	#game{
		border:none;
		position: relative;
		overflow: visible;
		border-radius: 100%;
		padding-bottom: 100%;
	}
	#game::after {
		content: '';
		display: block;
		position: absolute;
		background-color: #f5f5f5;
		width: 50%;
		height:50%;
		left:25%;
		top:25%;
		border-radius: 100%;
		z-index:20;
	}
	#game .key {
		z-index:3;
		position: absolute;
		top:0;
		width:50%;
		height:50%;
		border:none;
		background-color: #eee;
		transition: all ease-in-out .15s;
		outline: none;
	}
	#game .key.on {
		box-shadow: none;
		transform: scale(1.05);
		z-index: 10;
	}
	#game .key[disabled] {
		opacity: .1;
	}
	#game button.red,
	#game button.blue 		{ left:50%; }
	#game button.blue,
	#game button.yellow 	{ top:50%; }
	#game button.green 		{ border-radius: 100% 0 0 0; margin: var(--distance) 0 0 var(--distance); }
	#game button.red 		{ border-radius: 0 100% 0 0; margin: var(--distance) var(--distance) 0 0; }
	#game button.yellow 	{ border-radius: 0 0 0 100%; margin:  0 0 var(--distance) var(--distance); }
	#game button.blue 		{ border-radius: 0 0 100% 0; margin: 0 var(--distance) var(--distance) 0; }
	#game button.green {
		background-color: #2E9B37;
		border: 2px solid #4AF706;
		border-width:4px 0 0 4px;
	}
	#game button.green.on { background-color: #4AF706; }
	#game button.red {
		background-color: #8E000F;
		border: 2px solid #D8000E;
		border-width:4px 4px 0 0;
	}
	#game button.red.on { background-color: #D8000E; }
	#game button.yellow {
		background-color: #EAA908;
		border: 2px solid #FFFF0B;
		border-width:0 0 4px 4px;
	}
	#game button.yellow.on { background-color: #FFFF0B; }
	#game button.blue {
		background-color: #0C357D;
		border: 2px solid #2FAFEE;
		border-width:0 4px 4px 0;
	}
	#game button.blue.on { background-color: #2FAFEE; }
	.hide { display: none; }

/* ==========================================================================
SIDEBAR
========================================================================== */
	sidebar{
		flex-basis: calc( 40% - 20px );
		border:1px solid #ddd;
		background-color: #f5f5f5;
	}
	#players ul{
		list-style: none;
		margin:0;
		padding:0;
	}
	#players ul li {
		padding: 10px;
		border:1px solid #ddd;
		margin: 2px;
		position: relative;
	}
	#players ul li.active {
		background-color: #ddd;
	}
	#players ul li.winner {
		background-color: #4caf50;
		color:#fff;
	}
	#players ul li.looser {
		background-color: #d8000e;
		color:#fff;
	}
	#players ul li .score{
		position: absolute;
		right:0;
		bottom:0;
		margin:0;
		padding:.5em 1em;
		line-height: 1;
		background-color: rgba(0,0,0,.25);
		color: #fff;
		font-weight: bold;
		border-radius: .5em 0 0 0;
	}
	#players ul div {
		margin:5px;
	}

	#controls {
		padding: 1em;
	}

/* ==========================================================================
OVERLAY
========================================================================== */
	#overlay {
		background-color: transparent;
		bottom:0;
		display: none;
		left:0;
		position: fixed;
		right:0;
		top:0;
		z-index: 1;
	}
	.off #game-info{
		visibility: hidden;
	}
	.off #board{
		filter: blur(6px);
	}
	.off #overlay {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.off #overlay form {
		flex-basis: 80%;
	}
	.no-turn #overlay {
		display: block;
	}

@media (max-width: 659px){
	sidebar,section {
		flex-basis: 100%;
	}
	section {
		height: 50vw;
		margin-bottom: 20px;
	}
	#game {
		width:55%;
		padding-bottom: 55%;
		left:50%;
		top:50%;
		transform: translate(-50%,-50%);
	}
}
